.donate__wrapper {
    margin: 50px;
    display: flex;
    @include media-laptop {
        display: block;
    }
    @include media-mobile {
        >p {font-size: 1.5rem;}
        margin: 15px;
    }
}

.donate__yandex {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
}