.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include media-laptop {
        display: block;
    }
}

.header__logo-line {
    display: flex;
    margin-top: 11px;
}

.logo {
    text-decoration: none;
    cursor: pointer;
}

.logo__text {
    font-size: 7.2rem;
    color: $color-prim;
    margin: 0;
}